{% extends '::base.html.twig' %}
{% block body %}
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">{{ user.getFirstName()|escape}} {{ user.getLastName()|escape}} ({{ user.getEmail()|escape}})</a>
		</div>
		<div class="navbar-collapse collapse in">
			<ul class="nav navbar-nav">
				<li><a href="{{path('logout')}}">Logout</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container ctrade" id="DCTrade">
	<form class="well" id="cForm">   
		<input type="text" class="span3" placeholder="Date" id="cdate" required="required" >
		Currency:
		<select id="cCurrencyF">
			{%for cur in currencies%}
			<option value="{{cur.id}}">{{cur.code|e}}</option>
			{%endfor%}
		</select>
		To:
		<select id="cCurrencyT">
			{%for cur in currencies%}
			<option value="{{cur.id}}">{{cur.code|e}}</option>
			{%endfor%}
		</select>
		<input type="number" step="0.01" min=0 max=1000000000 class="span3" placeholder="Sum" required="required" id="cSum">
		<button type="submit" class="btn btn-lg btn-primary" id="cSubmit">Calculate</button>  
	</form>
	<div id="cRates" style="display:none">
		{%for cur in currencies%}
		<span id="{{cur.id}}">{{cur.rate}}</span>
		{%endfor%}
	</div>
</div>
{% endblock %}
