{% extends '::base.html.twig' %}
{% block body %}
<div class="container">
    <form action="{{ path('login_check') }}" method="post" class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
		{% if error %}
			<div>{{ error.message }}</div>
		{% endif %}
        <input type="text" id="email" name="email" value="{{ last_username }}" class="form-control" placeholder="Email address" required autofocus />
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required/>
		<label class="checkbox">
			<input type="checkbox" value="remember-me"> Remember me
        </label>
        <input type="hidden" name="_target_path" value="{{ url('evp_user_homepage') }}" />
        <button  class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
		<div>
			<a href="{{path('user_register')}}">Register</a>
		</div>
    </form>
</div>
{% endblock %}