{% extends '::base.html.twig' %}
{% block body %}
<div class="container register">
	{{ form_start(form) }}
	<h2 class="form-signin-heading">Register</h2>
	{{ form_errors(form) }}
	{{ form_row(form) }}
	{{ form_end(form) }}

</div>
{% endblock %}